{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
Input No KPJ
{% endblock  %}

{% block stylesheets %}{% endblock  %}

{% block content %}
<div class="alert alert-danger d-flex align-items-center alert-dismissible fade" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <div>
    Format NIK tidak sesuai!
  </div>
</div>
<main class="c-main">
    <div class="container-fluid">
        <div class="fade-in">
            <div class="row">
                <div class="col-8">
                    <div class="card">
                        <div class="card-header" style="background-color:#F8A488">
                            Pendaftaran Tenaga Kerja
                        </div>
                        <div class="card-body" style="background-color:#5AA897">
                            <form method="post">
                                {% csrf_token %}
                                <div class="row mb-2">
                                    <div class="col">
                                        {{form.no_kpj}}
                                        {{form.no_kpj.errors}}
                                    </div>
                                    <div class="col">
                                        {{form.nama}}
                                        {{form.errors.nama}}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col">
                                        {{form.blth_keps}}
                                        {{form.blth_keps.errors}}
                                    </div>
                                    <div class="col">
                                        {{form.is_aktif}}
                                    </div>
                                    
                                </div>
                                <div class="row mb-2">
                                    <div class="col">
                                        {{form.blth_na}}
                                        {{form.blth_na.errors}}
                                    </div>
                                    <div class="col">
                                        <input class="form-control" name="nik" type="text" placeholder="Input NIK" maxlength=16>
                                        <b id="hasil"></b>
                                    </div>
                                </div>
                                <div class="dx-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary float-right" style="background-color:#45526C;outline:none;border-style:none">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock  %}

{% block javascripts %}
<script>
    $('#add_more').click(function() {
        var form_idx = $('#id_nokpj_set-TOTAL_FORMS').val();
        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
        $('#id_nokpj_set-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });
</script>
<script>
    $(function(){
        $('input[name="blth_na"]').hide();
        update();
        $('select[name="is_aktif"]').change(function(){
            
            update();
        })
    })
    function update() {
			var option = $('select[name="is_aktif"]').find("option:selected");
            var optionText = option.text();
            if(optionText === 'Aktif'){
                $('input[name="blth_na"]').hide();
            }
            else{
                $('input[name="blth_na"]').show();
            }
			}
    
</script>
<script>
$(document).ready(function(){
    $("input[type='text'").css("background-color","#F8F5F1")
    //var regNik = new RegExp('^(1[1-9]|21|[37][1-6]|5[1-3]|6[1-5]|[89][12])\d{2}\d{2}([04][1-9]|[1256][0-9]|[37][01])(0[1-9]|1[0-2])\d{2}\d{4}$');
    var regNik = RegExp('^\\d+$');
    $("input[name='nik']").keyup(function(){
    //$("#hasil").html($(this).val())
        var NIK = this.value;
        var alert = ""
        if (!regNik.test(NIK)) {
            
            $(this).val("")
            $(".alert").last().addClass("in show")
            $(".close").on("click", function(){
                $(".alert").remove();
                var ALERT = "<div class='alert alert-danger d-flex align-items-center alert-dismissible fade' role='alert'><svg class='bi flex-shrink-0 me-2' width='24' height='24' role='img' aria-label='Danger:'><use xlink:href='#exclamation-triangle-fill'/></svg><a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a><div>Format NIK Tidak sesuai!</div></div>"
                $(".c-main").first().prepend(ALERT);
                
                });
        
        }
        
    });
    
    
});

</script>
{% endblock  %}