{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}FORM DAFTAR TK AKTIF{% endblock  %}

{% block stylesheets %}

{% endblock  %}

{% block content %}
<main class="c-main">
    <div class="container-fluid">
        <div class="fade-in">
            <div class="row">
                <div class="col">
                    <form class="row m-2" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    DATA TENAGA KERJA
                                </div>
                            
                                <div class="card-body" id="card-1" style="background-color:#F8F5F1">
                                    <div class="row mb-2">
                                        <div class="col">
                                            {{form.kpj}}
                                            {{form.kpj.errors}}
                                        </div>
                                        <div class="col">
                                            {{form.nik}}
                                            {{form.nik.errors}}
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col">
                                            {{form.tempat_lahir}}
                                            {{form.tempat_lahir.errors}}
                                        </div>
                                        <div class="col">
                                            {{form.tgl_lahir}}
                                            {{form.tgl_lahir.errors}}
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                       
                                        
                                    
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col">
                                            {{form.nama_ibu}}
                                            {{form.nama_ibu.errors}}
                                        </div>
                                        <div class="col">
                                            {{form.status}}
                                            {{form.status.errors}}
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col">
                                            {{form.email}}
                                            {{form.email.errors}}
                                        </div>
                                    </div>
                                    <div class="row mb-2"> 
                                        <div class="col">
                                            {{form.alamat}}
                                            {{form.alamat.errors}}
                                        </div>
                                    </div>
                                    <div class='d-flex justify-content-end' id="btn1"><button type='submit' class='btn btn-info'>Submit</button></div>
                                </div>

                                <div class="card-header" id="card-2">
                                    DATA KELUARGA
                                </div>
                                <div name="pasangan" class="card-body" id="card-2">
                                    <div class="row mb-2">
                                        <div class="col">
                                            {{form.nama_pasangan}}
                                            {{form.nama_pasangan.errors}}
                                        </div>
                                        <div class="col">
                                            {{form.tgl_lahir_pasangan}}
                                            {{form.tgl_lahir_pasangan.errors}}
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col">
                                            {{form.nama_anak_s}}
                                            {{form.nama_anak_s.errors}}
                                        </div>
                                        <div class="col">
                                            {{form.tgl_lahir_s}}
                                            {{form.tgl_lahir_s.errors}}
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col">
                                            {{form.nama_anak_d}}
                                            {{form.nama_anak_d.errors}}
                                        </div>
                                        <div class="col">
                                            {{form.tgl_lahir_d}}
                                            {{form.tgl_lahir_d.errors}}
                                        </div>
                                    </div>
                                    <div class='d-flex justify-content-end' id="btn2"><button type='submit' class='btn btn-info'>Submit</button></div>
                                </div> 
                            </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock  %}


{% block javascripts %}
<script>
$(document).ready(function(){
    $('.data-select').select2();
})
</script>

<script>
var btn = "<div class='d-flex justify-content-end'><button type='submit' class='btn btn-info'>Submit</button></div>"
$(document).ready(function() {
    $(".card-header").css("background-color","#F8A488")
    $(".card-body").css("background-color","#5AA897")
    $(".btn").css({"background-color":"#45526C","broder-style":"none","outline":"none"})
    $("#card-2").hide();
    $("div[name='pasangan'] input[class='form-control']").hide();
    showhide();
    $("#id_status").change(function () {
        showhide();
    });
    
});

function showhide(){
      if( $('select[name="status"]').val() == 2){
            
            $("#card-2 ").show();
            $("div[name='pasangan'] input[class='form-control']").show();
            $("#btn1 button").hide();
            $("#btn2 button").show();
        }
    else{
            $("#card-2").hide();
            $("div[name='pasangan'] input[class='form-control']").hide();
            $("#btn2 button").hide();
            $("#btn1 button").show();

        }
}
</script>

<script>
$(document).ready(function() {
    var reg = new RegExp('^\\d+$');
    $('input[type=text]').keyup(function(){
        $(this).val($(this).val().toUpperCase());
    });
    $("#id_nik, #id_no_rekening, #id_no_hp").keyup(function(){
        var VAL = this.value;
        if(!reg.test(VAL)) {
            alert('INPUT HANYA BERUPA ANGKA')
            $(this).val("")
        }
    });
});

</script>


{% endblock  %}