{% extends 'layouts/base.html' %}
{% load static %}

{% block tilte %}LIST KPJ{% endblock  %}

{% block stylesheets %}


{% endblock  %}

{% block breadcrumb %}

{% endblock  %}
{% block content %}

{% for message in messages  %}
  <div class="alert alert-warning" role="alert" id="warning-alert">
    {{message}}
  </div>
{% endfor %}

  <main class="c-main">
    <div class="container-fluid">
      <div class="fade-in">
        <div class="row d-flex justify-content-start">
          <div class="col-lg-xl">
            <div class="card">
              <div class="card-header"><i class="fa fa-align-justify"></i> List KPJ</div>
              <div class="card-body">  
              <table id="example" class="table table-responsive table-bordered table-striped">
                  <thead>
                      <tr class="text-center">
                      <th scope="col">#</th>
                      <th scope="col">Nama</th>
                      <th scope="col">KPJ</th>
                      <th scope="col">BLTH Keps.</th>
                      <th scope="col">BLTH NA</th>
                      <th scope="col">STATUS AKTIF</th>
                      <th scope="col">ACTION</th>
                      </tr>
                </thead>
                <tbody id="loop">
                {% for data in datas  %}
                  <tr class="text-center data">
                      <td>{{forloop.counter}}</td>
                      <td><a href="{% url 'profile-tk' data.user_kpj.id%}">{{data.user_kpj.nama}}</a></td>
                      <td>{{data.no_kpj}}</td>
                      {% if data.blth_keps %}
                      <td>{{data.blth_keps}}</td>
                      {% else %}
                      <td></td>
                      {% endif %}
                      {% if data.blth_na %}
                      <td>{{data.blth_na}}</td>
                      {% else %}
                      <td></td>
                      {% endif %}
                      {% if data.is_aktif %}
                      <td class="NA">Y</td>
                      {% else %}
                      <td class="NA">T</td>
                      {% endif %}
                      <td><a href="{% url 'update_profile' data.user_kpj.id%}" class="btn btn-sm btn-warning mx-2">edit profile</a><a href="{% url 'add-kpj' data.user_kpj.id%}" class="btn btn-sm btn-success">add kpj</td>
                  </tr>
                  
                {% endfor %}
                
                </tbody>
              </table>
              <div class="d-flex justify-content-start">
                <a href="{% url 'daftar-kpj' %}" class="btn btn-sm btn-info">ADD TK</a>
              </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock  %}

{% block javascripts %}
<script>
$(document).ready(function () {
  $('#example').DataTable({
    dom: 'Plfrtip',
    columnDefs: [{
      searchPanes: {
        viewCount: true,
        options: [
          {
            label:'STATUS AKTIF',
            value: function(rowData, rowIdx) {
                return rowData[4] == 'T'
            }
          },
          {
            label:'Tidak Aktif',
            value: function(rowData, rowIdx) {
              return rowData[4] === 'T';
            }
          }
        ]
      },
      targets: [4]
    }]
  });
  $('.dataTables_length').addClass('bs-select');
  
});

</script>


<script>
$('input[type="radio"]').change(function () {
  var name = $('input[name="inlineRadioOptions"]:checked').val();
  var td = $('td[class="NA"]').text();
  console.log(td)
  if (name == 'A') {
    $("tr.text-center.data").show();
  } else if((name == 'Y') || (td == 'Y')){
    // $("tr.text-center.data:contains('Y')").show();
    $("tr.text-center.data:contains('Y')").each(function(index){
      console.log(index)
      $(this).eq(index).show();
    })
    $("tr.text-center.data:contains('T')").hide();
  } else {
    $("tr.text-center.data:contains('T')").show();
    $("tr.text-center.data:contains('Y')").hide();
}
})
</script>

{% endblock javascripts %}